/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2020, 9:49:46 AM
    Author     : asavicka5

*/
*         .bg-1 {
            background-color: #1abc9c;
            color: #ffffff;
        }
        .bg-2 {
            background-color: #474e5d; /* Dark Blue */
            color: #ffffff;
        }
        .bg-3 {
            background-color: #ffffff; /* White */
            color: #555555;
        }
        .bg-4 {
             background-color: #2f2f2f;
             color: #ffffff;
        }
        .container-fluid {
             padding-top: 70px;
             padding-bottom: 70px;
        }
        .navbar {
             padding-top: 15px;
             padding-bottom: 15px;
             border: 0;
             border-radius: 0;
             margin-bottom: 0;
             font-size: 12px;
             letter-spacing: 5px;
        }

        .navbar-nav li a:hover {
             color: #1abc9c !important;
        }
        /* The sticky class is added to the navbar with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
        .sticky + .content {
            padding-top: 60px;
        }